$textColor: #fff;
$primaryColor: #4e93e6;
$bqColor: #1f1f20;
$bqSecondColor: #252527;
$textColorFooter: #929292FF;
$backgroundColorContacts:#252527;
$textColorH1: #414141;
$textColorH5:#919191;
$colorForForm:  #b3b3b3;
$colorForBorderInForm:  #d9d9d9;
$textColorH3andBtn: #ffffff;
$backgroundColorBtn: #393939;
$backgroundColorMenu: #2b2b2b;
$colorMenu: #555555;
$colorMenuHeader: #999999;