.hireBlock {
    background-color: cornflowerblue;
}

.hireContainer {
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
}

.copyright {
    background-color: chocolate;
}

.hireBtn {
    padding: 10px 20px;
    background-color: blueviolet;
}