.contactsBlock{
    min-height: 100vh;
    background-color: lightcoral;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.contacts_title {
    background-color: gray;
}
.contacts_Form {
    border: 1px solid;
    width: 280px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

}
.contacts_inputs {
    padding: 5px;
}
.contacts_textarea {
    height: 50%;
}
.iconSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin: 20px 0 0 0 ;
    background-color: blueviolet;
}