.contactsBlock {
    background-color: lightcoral;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.copyright {
    background-color: gray;
}

.contactForm {
    width: 100%;

    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactForm input, .contactForm textarea {
    width: 100%;
}

.submitBtn {
    padding: 10px 20px;
    background-color: blueviolet;
}

@media screen and (min-width: 450px) {
    .contactForm {
        width: 50%;

    }
}