.contactsBlock{
    height: 100vh;
    background-color: lightcoral;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: gray;
}
.contacts {
    border: 1px solid;
    width: 360px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.inputs {
    width: 350px;
    height: 25px;
    margin: 0 0 3px 0;
}
.textarea {
    width: 350px;
    height: 75px;
}
.iconSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin: 20px 0 0 0 ;
    background-color: blueviolet;
}