.distantBlock {
    height: 100vh;
    background-color: cornflowerblue;
}

.workDistantContainer {
    flex-direction: column;
    justify-content: center;

}

.distantContainer {
    border: 1px solid;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.containerDistantWork {
    background-color: chocolate;
}

.iconWorkDistant {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-color: blueviolet;
}