.work{
    width: 350px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height:200px ;
    background-color: chocolate;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-color: cornflowerblue;
}

.description {
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: flex-start;
    width: 350px;
    background-color: burlywood;
}
.title {
    margin: 10px 0 0 20px;
    background-color: aliceblue;
}
.shortDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0 0 20px;
    width: 300px;
    background-color: blueviolet;
}