@import "./src/common/style/sass/variable";
@import "./src/common/style/sass/mixins";

.title {
  @include text("Josefin Sans', sans-serif", 36px, 1.2);
  margin: 0 0 30px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 5px;
  position: relative;

  .title h2 {
    margin: 0;
  }

  &::before {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 30px;
  }
}




