.skillsBlock {
    min-height: 100vh;
    background-color: lightcoral;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.contacts_title{
    background-color: orange;
}
.project_title{
 background-color: gray;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
