@import "./src/common/style/sass/variable";
@import "./src/common/style/sass/mixins";

.project {
  width: 95%;
  margin: 15px 0;
  display: inline-block;
  background-color: $bqSecondColor;

  .image {
    height: 250px;
    background-color: #fcf9f9;
    @include flexible(center, center, column);
    background-position: center;
    background-size: cover;

    .overlay {
      @include flexible(center, center, column);
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out;

      &:hover {
        opacity: 1;
      }

      .description {
        padding: 15px;

        h3 {
          display: flex;
          justify-content: center;
          color: $textColorH3andBtn;
          font-size: 24px;
          font-weight: 650;
          line-height: 26px;
          letter-spacing: 0.40px;
          text-transform: uppercase;
        }

        p {
          display: flex;
          justify-content: center;
          color: $textColorH3andBtn;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: normal;
        }

         .wrapperButton {
          display: flex;
          justify-content: center;

          .btn {
            text-decoration: none;
            border: 1px solid $textColorH3andBtn;
            outline: 0;
            -webkit-transition: .25s;
            -o-transition: .25s;
            transition: .25s;
            text-transform: uppercase;
            padding: 8px 12px;
            cursor: pointer;
            color: $textColorH3andBtn;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.42857143;
            letter-spacing: normal;


            &:hover {
              background-color: #2b2b2b;
              border-color: #2b2b2b;
            }
          }

        }

      }
    }
  }
}

.project:nth-child(4n+1) .image, .project:nth-child(4n) .image {
  height: 350px;
}





