@import "./src/common/style/sass/variable";
@import "./src/common/style/sass/mixins";

.project {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: $bqSecondColor;

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: $bqColor;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }


    .viewBtn {
      padding: 10px 20px;
      background-color: $primaryColor;
      position: relative;
      z-index: 1;
      color: $textColor
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      @include text("Josefin Sans', sans-serif", 16px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text("'Poppins', sans-serif", 14px, 1.8);
      font-weight: 400;
    }
  }

}






