.footerBlock{
    min-height: 100vh;
    background-color: darkkhaki;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.footer_title {
    background-color: gray;
}
.icon{
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
}
.socialContainer {
    border: 1px solid;
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
