.Projects {
    min-height: 100vh;
    background-color: cyan;
}

.ProjectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.project_title{
    background-color: gray;
}
.contacts_title {
    background-color: orange;
}
.projectContainer{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}